<!DOCTYPE html>
<html>
<head>
  <title>Synchronized</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <!--<link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Supermercado+One" />-->
  <link href='https://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/introHCI.css" rel="stylesheet">
  <script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>
  <!--<script src="/js/updateJSON.js"></script>
  <script src="project.js"></script>-->

</head>

  <body>
  <!--Menu-->
  <div class="dropdown">
    <a href="/index"><img src="../images/home.png" width="43" height="43" class="img"></a>
  </div>

  <div class="container">
    <center>

      <div>
        <a href="/"> <img src="../images/logo.png" alt="logo" class="img"></a><br>
        <img src="../images/divider.png" alt="logo" class="img"><br>
      </div>
        <ul id="results">
            
    </ul>
    
      <div class="jumbotron">
        <!--<h2>{{projectName}}</h2>-->
        <h2>{{name}}</h2>

        <div class ="optionsadd">
            <a href="../addSong" class="add"> <img src="../images/add.png" title="Add a song!" width="50" height="50" class="img"></a>
            &nbsp;
            <!--
            <a href="../playNow" class="play"> <img src="../images/play.png" title="Play this playlist!" width="50" height="50" class="img"></a>
            &nbsp;-->
            <a href="../share" class="play"> <img src="../images/share.png" title="Share event!" width="50" height="50" class="img"></a>
            &nbsp;
            <a href="../settings/{{name}}" class="play"> <img src="../images/settings.png" title="Event settings!" width="50" height="50" class="img"></a>
        </div>

        <h2>Playlist:</h2>
        <!--  <iframe width="300" height="300" scrolling="no" frameborder="no" src="{{currentlyPlaying}}&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe><br> -->
         <div id="player"></div>
    
    <script>
      //helloWorld();
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      
      var player;
      //var playlist1 = require('../playlist1.json');
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '390',
          width: '640',
          videoId: '{{currentlyPlaying}}',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }


      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
        
      }

     
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == 0) {
          //event.target.loadVideoById('IbyFn4Ak_wE');
          window.location = "/updateJSON";

          //helloWorld();
          //stopVideo();
          done = true
        }
      }
      /*function stopVideo() {
        //alert("in stop video");
       // playlist1["currentlyPlaying"] = 'IbyFn4Ak_wE';      
        player.cueVideoByUrl({ 'mediaContentURL': 'https://www.youtube.com/watch?v=IbyFn4Ak_wE'});
        //player.playVideo();
        //player.playVideo();
       // window.location.reload(true); 
      //  alert("passed reload"); 
        
      }*/


    </script>

        {{#each playlist1}}
                <li><h3>{{songName}} - {{artist}}</h3></li>
                {{/each}}
      </div>
  

      <!--<form id="addSongForm" role="form" method="get" action="/addSong">
        <h3>Add a song</h3>
          <div class="form-group">
            <label for="songTitle">Song Title:</label>
            <input type="text" class="form-control" id="songTitle" placeholder="Title" name="songTitle">
          </div>
          <div class="form-group">
            <label for="artist">Artist:</label>
            <input type="text" class="form-control" id="artist" placeholder="Artist" name="artist">
          </div>
          <input type="submit" id="submitBtn" class="btn btn-default" value="Add Song"></input>
      </form> -- >


    <!--  {{#each songs}}
        <div class="songsList">
            <p>{{title}}</p>
            <p>{{artist}}</p>
            <p>{{album}}</p>
            <p>{{time}}</p>
        </div>
      {{/each}}-->

      <br>
      <h3>{{empty}}</h3>
      
      
      <br>
    </center>



    <!--
    <div class="createPlaylistOptions" style="display: inline">
    <center>
        <h2>Create a new playlist for</h2>
        <div class ="options">
        <div class="createPlaylist" id="Gym">
          <a href="createPlaylist.html" class="thumbnail">
            <img src="../images/Gym.jpg" alt="Working Out" class="img">
          </a>
        </div>
        <div class="createPlaylist" id="Formal">
          <a href="createPlaylist.html" class="thumbnail">
            <img src="../images/Formal.jpg" alt="Formal Event" class="img">
          </a>
        </div>
        <div class="createPlaylist" id="Party">
          <a href="createPlaylist.html" class="thumbnail">
            <img src="../images/Party.jpg" alt="Partying" class="img">
          </a>
        </div>
        <div class="createPlaylist" id="Fun">
          <a href="createPlaylist.html" class="thumbnail">
            <img src="../images/Fun.jpg" alt="Having Fun" class="img">
          </a>
        </div>
      </div>
    </center>
    </div>
  -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>

 
  </body>
</html>