<!DOCTYPE html>
<html>
<head>
  <title>Synchronized</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <!--<link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Supermercado+One" />-->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Amatic+SC" />
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/introHCI.css" rel="stylesheet">
    
</head>

  <body>
  <!--Menu-->
  <div class="dropdown">
    <img src="../images/menu.jpg" width="43" height="43" class="img">
      <div class="dropdown-content">
        <a href="/share">Share</a>
        <a href="/settings">Settings</a>
      </div>
  </div>

  <div class="container">
    <center>

      <div>
        <a href="/"> <img src="../images/logo.png" alt="logo" class="img"></a><br>
        <img src="../images/divider.png" alt="logo" class="img"><br>
      </div>
    
      <div class="jumbotron">
        <h2>{{projectName}}</h2>

        <div class ="optionsadd">
            <a href="../addSong" class="add">
              <img src="../images/add.png" title="Add a song!" width="50" height="50" class="img">
            </a>
            <a href="../playNow" class="play"> 
              <img src="../images/play.png" title="Play this playlist!" width="50" height="50" class="img">
            </a>
        </div>

        <img src="../images/divider.png" alt="logo" class="img"><br>
        <h2>Playlist:</h2>
      </div>


    <!--  {{#each songs}}
        <div class="songsList">
            <p>{{title}}</p>
            <p>{{artist}}</p>
            <p>{{album}}</p>
            <p>{{time}}</p>
        </div>
      {{/each}}-->

      <br>
      <h3>No songs in this playlist!</h3>
      <br>
    </center>



    <div class="createPlaylistOptions">
    <center>
        <h2>Create a new playlist for</h2>

        <div class ="options">
        <div class="createPlaylist" id="Gym">
          <a href="createPlaylist.html" class="thumbnail">
            <img src="../images/Gym.jpg" alt="Working Out" class="img">
          </a>
        </div>
        <div class="createPlaylist" id="Formal">
          <a href="createPlaylist.html" class="thumbnail">
            <img src="../images/Formal.jpg" alt="Formal Event" class="img">
          </a>
        </div>
        <div class="createPlaylist" id="Party">
          <a href="createPlaylist.html" class="thumbnail">
            <img src="../images/Party.jpg" alt="Partying" class="img">
          </a>
        </div>
        <div class="createPlaylist" id="Fun">
          <a href="createPlaylist.html" class="thumbnail">
            <img src="../images/Fun.jpg" alt="Having Fun" class="img">
          </a>
        </div>
      </div>
    </center>
    </div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>